requests
pandas
pyarrow
numpy
scikit-learn
joblib
tree-sitter
tree-sitter-typescript
tree-sitter-c-sharp
staticfg
python-dotenv
matplotlib
fastapi
pydantic
uvicorn
httpx
pytest
sacrebleu
rouge-score
ruff
